version: '3.8'

services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ruraldb
    ports:
      - "5433:5432" # локально 5433, чтобы не конфликтовал с твоим postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    restart: always
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/ruraldb?sslmode=disable
      - PORT=8080
      - JWT_SECRET=super-secret-key-change-me-1234567890
    depends_on:
      - db

volumes:
  pgdata:
